@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom color palette in :root for light mode */
:root {
  --color-primary-light: #fce2c8; /* Light background */
  --color-secondary-light: #059389; /* Light accent */
  --background: #ffffff; /* Default light background */
  --foreground: #171717; /* Default light text */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

/* Define dark mode colors using media query */
@media (prefers-color-scheme: root) {
  :root {
    --color-primary-dark: #171717; /* Dark background */
    --color-secondary-dark: #059389; /* Dark accent */
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode text */
    
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

/* Apply the variables */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-inter);
}
