@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define your custom color variables */
    --background: 0, 0%, 99%; /* white background */
    --foreground: 0 0% 3.9%; /* dark foreground */
    --primary: 0 0% 9%; /* black */
    --primary-foreground: 0 0% 98%; /* white */
    --secondary: 173 58% 39%; /* custom secondary color */
    --secondary-foreground: 0 0% 9%; /* black */
    --tertiary: 30 88% 90%; /* #FCE2C8 in HSL */
    --tertiary-accent: 13, 100%, 77%; /* #FFA38A in HSL */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    /* Adjust the variables for dark mode */
    --background: 0 0% 3.9%; /* dark background */
    --foreground: 0 0% 98%; /* light foreground */
    --primary: 0 0% 98%; /* light primary */
    --primary-foreground: 0 0% 9%; /* dark */
    --secondary: 0 0% 14.9%; /* dark secondary */
    --secondary-foreground: 0 0% 98%; /* light */
    --tertiary: 30 80% 80%; /* adjust for dark mode */
    --tertiary-accent: 20 60% 70%; /* adjust for dark mode */
  }

  /* Global styles */
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }

  * {
    @apply border-border;
  }
}
