@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fce2c8; /* Light mode primary color */
  --color-secondary: #059389; /* Light mode secondary color */
  --color-tertiary: #ffa38a;
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #171717; /* Dark mode primary color */
    --color-secondary: #059389; /* Dark mode secondary color */
    --color-tertiary: #ffa38a;
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode text */
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-inter);
}
